{% extends 'base.html' %}
{% block content %}

<h1>Poro Detail</h1>
<div class="card">
  <div class="card-content">
    <div class="right">
      {% load static %}
      <img
        src="{% static poro.image|cut:'main_app/static/' %}"
        width="100px"
        height="100px"
      />
    </div>
    <span class="card-title">{{ poro.name }}</span>
    <p>Region: {{ poro.get_region_display }}</p>
    <p>Description: {{ poro.description }}</p>
    <br>
    <div class="card-section">
      <a href="{% url 'poros_update' poro.id%}">Edit</a>
      <a href="{% url 'poros_delete' poro.id%}">Delete</a>
    </div>
  </div>
</div>

<div>
  <form action="{% url 'add_feeding' poro.id %}" method="post">
    {% csrf_token %}
    {{ feeding_form.as_p }}
    <input type="submit" class="btn" value="Add Feeding">
  </form>
</div>

{% endblock %}